/* Reset default styles */
html {
    height: 100%;
    font-size: 16px; /* Set a base font size for better scalability */
}

/* Define custom fonts */
@font-face {
    font-family: "Quicksand";
    src: url(Quicksand-Regular.ttf);
}

/* Global styling for common elements */
body {
    font-family: "Quicksand";
    color: white; /* Text color for the links and title */
    background: black url("/images/Background.jpeg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Header styles */
h1 {
    font-size: 24px;
}

/* Form styles */
form {
    margin-top: 20px;
}

/* Input field styles */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px grey;
    border-radius: 10px;
}

/* Button styles */
button, .complete, .delete {
    background-color: lightslategray;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    margin-top: 10px;
}

/* Specific styles for elements with the class "complete" */
.complete, .delete {
    margin-left: 5px; /* Add margin between the complete and delete buttons */
}

/* Specific styles for elements with the class "addTask" */
.addTask {
    display: flex;
    margin: auto;
    /* Add any specific styles for elements with this class */
}

/* Content area styles */
.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center; /* Center the text within the content area */
}

/* Unordered list styles */
ul {
    list-style: none; /* Remove default list bullets */
    padding: 0; /* Remove default padding */
}

/* Task Count styles */
.taskCount {
    font-size: 18px; /* Increase the font size for better visibility */
    margin: 10px 0; /* Add some margin for spacing */
}

/* Top container styles */
.top-cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px; /* Add padding for spacing */
    font-family: "Quicksand";
}

/* Styles for the title and links */
.title, .links {
    flex: 1; /* Grow as much as possible */
}

.title {
    font-size: 24px;
    text-align: left; /* Align text to the left */
}

.title a {
    text-decoration: none;
    color: white;
}

.links {
    display: flex;
    justify-content: flex-end; /* Align links to the right */
    gap: 20px; /* Add a gap between links for spacing */
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}