html {
    height:100%;
}
body {
    justify-content: center;
    align-items: center;
    height: 100%;
    background: black;
    background-image: url("/images/Background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
h2 {
    font-size: 24px; /* Title font size */
    color: #ffb8a9; /* Title text color */
}

form {
    margin-top: 20px;
}

label {
    display: block;
    font-size: 16px; /* Label font size */
    color: #ffb8a9; /* Label text color */
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 16px; /* Input field font size */
    border: 1px solid #ffb8a9; /* Input field border color */
    border-radius: 5px;
}

button {
    background-color: #f8ca64; /* Button background color */
    color: #000; /* Button text color */
    font-size: 18px; /* Button font size */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* You can add more styles for additional elements as needed */

/* Example: Styling a link (e.g., "Forgot Password?") */
a {
    text-decoration: none;
    color: #f8ca64; /* Link color */
}

a:hover {
    color: #ffb8a9; /* Link color on hover */
}
.addTask {
    display: flex;
    gap: 15px;
}